################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Viewer/x64/Debug
/Viewer/Viewer/x64/Debug
/Viewer/.vs/Viewer/v16
/.vs
